body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    margin: 0px;
    padding: 0px;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
 
}

.header-left img{
    width: 100px;
    border-radius: 50%;
    border-style: groove;
    border-color:black;

}



.header-center {
    margin-left: 150px;

}

@media (max-width: 992px){
    .header-center{
        display: none;
    }
}

.header-right img{
    width: 250px;

}

@media (max-width: 386px){
    .header-left img{
        width: 74px;
    }

    .header-right img{
        width: 230px;
    }
}

.header-center-post {
    margin-left: 15px;

}

#main-content{
    text-align: center;
    padding: 20px 20px 8px 20px; /* padding---> Arriba - Derecha - Abajo - Izquierda(ADAI)*/

}

#main-content h1{
    font-size: 20px;
}

.description{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 22px;
    color: #6C7184;
}


#video-container{
    text-align: center;
    padding: 0px 20px 20px 20px

}

#video-container h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.iframe-class{
    width: 560px;
    height: 315px;
}

@media (max-width: 600px){
    .iframe-class{
        width: 320px;
        height: 180px;
    } 
}

@media (max-width: 386px){
    .iframe-class{
        width: 240px;
        height: 135px;
    } 
}

#testimonials{
    text-align: center;
}

#testimonials{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 20px 40px 20px;
}

footer{
    background-color: #333;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-align: center;
}


